<!doctype html>
<html lang="en" ng-app="project3">
    <head>
        <title>Hello, world!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-controller="MainController" ng-cloak>
        
        <div class="container-fluid" ng-init="getProducts()" ng-hide="one_product">
            <pre>{{ search | json }}</pre>
            
            <div class="row">
                <div class="col">
                    <h2>Αναζήτηση:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Onoma: 
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="search.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Supplier: 
                </div>
                <div class="col-md-6">

                    <select ng-model="search.supplier" class="form-control">
                        <option value="">Epilekste supplier...</option>
                        <option ng-value="supplier" ng-repeat="supplier in suppliers">{{ supplier }}</option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Price: 
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" ng-model="search.price"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger btn-lg" ng-click="search = {}">Καθαρισμός Φίλτρων</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Τα προϊόντα μου</h2>
                    <button class="btn btn-success" ng-click="getProducts()">Refresh Products</button>
                    <br>
                    <img src="images/loader.gif" ng-show="loader"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-repeat="product in products | filter: search">
                    
                    <div class="card" style="width: 20rem;" ng-click="showProduct(product)">
                        <img class="card-img-top" src="{{ product.picture }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ product.name }}</h4>
                            <p class="card-text">Supplier: {{ product.supplier }}</p>
                            <p class="card-text">{{ product.price }}&euro;</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="container-fluid" ng-show="one_product">
            <div class="row">
                <div class="col">
                    <button class="btn btn-warning btn-block" ng-click="one_product = false"><- Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ product.picture }}">
                </div>
                <div class="col">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.supplier }}</p>
                    <h3>{{ product.price }}&euro;</h3>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
    </body>
</html>